html, body{
    font-size: 20px;
    background:	#fff;
    font-family: 'Open Sans', sans-serif !important;
    box-sizing: border-box;
    transition: all 1s;
}
body a{
    transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    -ms-transition: 0.5s all ease;
}
p{
    margin:0;
}
ul{list-style: none;}
ul,label,ol,li{
    margin:0;
    padding:0;
}
body a:hover{
    text-decoration:none;
}
i{font-style: normal;}
img.auto{width: 100%;height: auto}


.nbs-flexisel-nav-left {
    left: -7%;}

.nbs-flexisel-nav-right{
    right: -7%;

}

.nbs-flexisel-nav-left, .nbs-flexisel-nav-right {
    position: absolute;
    cursor: pointer;
    z-index: 5;
    font-size:1.5rem;
    top:50%;
    color: #222222;
}
img.auto{width: 100%;height: auto}
.style{font-style: italic;color:#999; }
/*图片高光*/
.lightImg{position: relative;overflow: hidden;}
.lightImg:before{content:"";width:85px;height:100%;background-image: -moz-linear-gradient(left,rgba(0,0,0,0.05) 30%,rgba(255,255,255,0.1) 40%,rgba(255,255,255,0.05) 30%);position:absolute;left:-300px;top:0;transform:skew(-45deg);}
.lightImg:hover:before{left:1000px;transition:all 1.5s ease;}

#model{width: 100vw;height: 100vh;position: fixed;background:rgba(0,0,0,.7);z-index: 2;display: none;left:0;top:0;}
#weixin{width:300px;height: 300px;position: fixed;left: 50%;margin-top: -150px;top:50%;display: none;margin-left: -150px;background: url("../images/wechat.jpg") no-repeat left top/cover;z-index: 3;}
/*-------banner--------*/
.color{ background-color: #222222;}
.banner {

    background-size: cover;
    min-height: 30rem;
    position: relative;
}
.banner .container{height: 100px;}
.banner-info{position: absolute;bottom:-20px; ;
    left:50% ;
    width: 40%;
    margin-left: -20%;
    max-width: 500px;
}
.banner-text{
    position: absolute;
    bottom:7rem;
    left: 6rem;
    z-index: 1;
    color: #fff;
}
.banner-text h1 {
    font-size: 2.6rem;
    color: #fff;
    margin: 0;
    text-transform: uppercase;
}
.banner-text h2 {
    font-size: 1.3em;
    color: #fff;
    margin: 0.6rem 0 1.1rem;
    border-top: 3px solid#fff;
    width: 73%;
    padding-top: 0.5rem;
    font-weight: 100;
}
.banner-text h2 span{color:#C4AE77;}
.banner-text a{color:#999;font-size:0.8rem ;background: #2E2E2E;border-color:  #2E2E2E;}
.banner-text a:hover{box-shadow: 0 0 6px 0 #000000 inset;}
/*-----menu------*/
.about,.aboutMe,.project,.prize,.experience,.college,.self{
    padding:3rem 0;
}

.about h3,.aboutMe h3,.project h3,.prize h3,.experience h3,.college h3,.self h3{
    font-size:40px;
    color:#D8B983;
    margin-bottom: 3rem;
    font-family: 'Sigmar One', cursive;
}
.about .line,.aboutMe .line,.project .line,.college .line{
    height: 3px;
    width: 150px;
    background: #ccc;
    transition: all 2s;
}
.line:hover{padding-right: 10px;}
.about h3 span,.aboutMe h3 span,.project h3 span,.prize h3 span,.experience h3 span,.college h3 span,.self h3 span{
    text-decoration:line-through;
    color:#999;
}
.about,.aboutMe{background:#333333; }
#flexiselDemo1 li{text-align: center;}
.sliderfig{position: relative;}
.about-info-left p{
    display:flex;flex-direction:column;
    font-size:1rem;
    color:#999;
    margin:0;
    padding:3rem 0 1rem;
}
.about-info-left p span{
    font-size:2.5rem;
}
.about-info-left p i{padding-top: 1rem;}
.about-info{
    width:70%;
    margin:4rem auto 0;
}

/*-------------aboutme----------*/
.about-grid h1{color: #999;font-size:1.8rem;line-height: 2.5rem;}
.about-grid-left:hover .line{width:200px;background:  #D8B983;}
.about-grid .social-icon{color: #999;}
.social-icon{font-size: 38px;}
.social-icon span{width: 30%;display: inline-block;padding: 1rem 0;font-size: 38px;color: #fff;cursor: pointer;transition: all 1s;}
.social-icon span:hover{transform: scale(1.2);text-shadow: 0 0 3px #fff;}
.about-grid ul li {
    background:#efefef;
    border-radius: 4px;
    -moz-border-radius:4px;
    -o-border-radius:4px;
    -webkit-border-radius:4px;
    color: #666666;
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 9px;
    padding: 6px 10px 5px 10px;
    border-left:3px solid #cccccc;
    transition: all 1s;
}
.about-grid ul li:hover{box-shadow: 0 0 8px 0 #000 inset;}

.about-grid  ul li span{
    font-weight:bold;
}

.about-grid  .info{
    margin-left:3rem;
    margin-right:3rem;
}
/*----------project-------------*/
.project{background:#262626; }

.project .title{ padding: 50px 0;background: #2D2D2D;margin:0 15px 15px 15px;}
.project-cont1{min-height:780px;}
.project-cont1 .cont-left,.cont-right{height:750px;}
.project-cont1 .cont-left .cont-left-up .div-inner{height: 350px;}
.project-cont1 .cont-left .cont-left-up span{font-size:100px;color:#171717;line-height: 350px;transform: skew(30deg);}
.project-cont1 .cont-right .div-inner{height:100%;padding: 0 60px;font-size: 12px;color: #ccc;}
.cont-right .div-inner .pro-name{margin-top:15px;padding:100px 0;color: #fff;letter-spacing: 10px;}
.div-inner{background: #2D2D2D;margin: 15px 0;}
.project-cont2{background: #2D2D2D;margin: 15px 15px 0 15px;padding: 15px 0;}

.pro-text{font-size: 16px;padding: 30px 0;}
.skill{font-size: 12px;padding-bottom: 20px;word-break: break-all;}


/*-----college------*/
.college{padding-bottom: 0;background: #333;padding-top: 0;}
.college .part1{color:#fff;}
.part1-left{background: #262626;min-height:756px;}
.college .sign1Name{padding: 2rem 0;font-size: 14px;letter-spacing: 5px;}
.part1-left .sign1{padding:10px 50px 20px 0;position: relative;}
.part1-left .sign1 span{position: absolute;left: -5.5rem;bottom: 5rem;font-size: 2rem;}
.part1-right{background: #999999;min-height:756px;color: #000;}
.part1-right .sign2{padding:10px 0 20px 50px;}
.part1-right .sign2 p{font-size: 14px;padding-top: 30px;}
.part1-right .sign2 img{padding-top: 10px;}
.part1,.part2,.part3{padding: 3rem 0;}
p.shu{writing-mode: vertical-rl;letter-spacing: 15px;padding-top:100%;font-size: 16px;}


.part2-left{padding: 7.5rem 40px 0;}
.part2-left .pro-text{color: #999;}
.part2-left .skill{color: #999;}
.part2-right{vertical-align: bottom;}
.part2-right .zheye{width: 50%;position: relative;padding-bottom: 30px;padding-right: 15px;}
.part2-right .inviteN{width: 100%;position: absolute;bottom:30px;right: -100%;padding-left: 15px;}
.part2-right .inviteW{width: 70%;}
p.kinds{position: relative;margin-bottom: 60px;font-size: 16px;color: #fff;}
p.kinds:before{content: "";width: 80px;height: 2px;background: #999;position: absolute;left: 50%;margin-left: -40px;bottom: -10px;display: block;}
.part3{background: #262626;}
.part3-right{padding-top: 2rem;color: #999;padding-left:60px;padding-right:60px;}
.part3-right .pro-text{font-size: 15px;}



/*----------brief-------------*/
.brief{padding:150px 0 ;background:url("../images/backimg2.jpg") no-repeat center top/cover;background-attachment: fixed;color:#fff;}
.sliderexp{position: relative;}
.sliderexp .exp-text{font-size: 23px;padding:30px 0;}
.sliderexp .exp-time{font-size: 14px;color:#999;}
.sliderexp .exp-time span{padding-left: 10px;}



/*-----experience----*/
.experience{background: #333;}
.exp-inner{background:#262626;text-align: center;padding: 30px;color: #999;}
.perExper{margin: 15px 0;}
.perExper span{font-size: 40px;color:#D8B983; }
.perExper p{font-size:28px;padding: 20px 0; }
.perExper .exp-text{line-height: 30px;height: 280px;font-size:16px;color: #999;}
.perExper .exp-inner-up{background:#232323;padding:0;height: 123px;}
.exp-inner-up h1{color: #EFEFEF;font-size: 26px;padding: 20px 0;margin-top: 0;}
.exp-inner-up .exp-time{line-height: 40px;font-weight: normal;font-size: 12px;}




/*-----certificate of honor----*/
.prize{background: #333333;color:#999;}
.per-prize{padding: 30px 0;}
.per-prize p{font-size: 21px;}
.per-prize p span{color: #EFEFEF;font-size: 24px;}
.prize-icon{color:#DBB981;font-size: 80px;}
.allPrize{margin-top: 50px;font-size: 15px;line-height: 28px;}
.allPrize ul{list-style: square;}
.allPrize>div{background: #262626;width: 250px;padding:80px 40px 30px 40px;margin: 0 auto;position: relative;box-shadow: 0 0 15px 0 #000;}
.allPrize>div:nth-child(1){z-index: 1;}
.allPrize .backPage{position:absolute;height: 300px;width: 160px;top:65px;}
.allPrize .backPage .pageIcon{width: 60px;height: 60px;margin-left: -30px;}
.page2{left:-10px;}
.page3{right:-10px;}
.pageIcon{width: 80px;height: 80px;border-radius: 50%;position: absolute;top:-20px;left: 50%;margin-left: -40px;background:#DBB981;text-align: center;color: #fff;font-size: 26px;line-height: 80px;}


/*-----self----*/
.self{background: #333333;}
.selfContent{background: #262626;}
.perSelf{padding: 2rem;font-size: 16px;}
.perSelf span{font-size: 40px;color:#D8B983;}
.perSelf h4{font-size: 20px;color: #ccc;}
.perSelf p{padding-top: 10px;max-height: 160px;color: #999;}
/*----footer-----*/
.footer{background:#262626;padding:50px 0;font-size: 16px;color:#999;}
.footer h3{color:#fff;}
.gtco-widget {
    margin-bottom: 30px;
}
.gtco-widget:nth-child(1) p{font-size: 14px;}
.gtco-widget h3 {
    margin-bottom: 15px;
    font-weight: bold;;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.gtco-widget .gtco-quick-contact {
    padding: 0;
    margin: 0;
}
.gtco-widget .gtco-quick-contact li {
    padding: 0;
    margin: 0 0 10px 0;
    list-style: none;
}
.gtco-widget .gtco-quick-contact li i {
    width: 30px;
    float: left;
    font-size: 18px;
    position: relative;
    margin-top: 4px;
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display: inline;
}
.gtco-widget li a{color: #ccc;cursor: pointer;}
/*----bot-----*/
.bot{line-height: 30px;background: #333333;padding: 20px 0;color: #232323;}




/*----------menu-----*/
#menu-list{color:#999;height:100px;line-height: 100px;}
#menu-list .active{color:#fff;}

#menu i{width: 50px;height: 50px;color: #fff;line-height: 50px;display: block;text-align: center;font-size:30px;position: fixed;right: 5px;top:5px;z-index: 3;}
#menu i:hover{text-shadow: 2px 2px 12px #fff;}
.menu-list{position:fixed;right: 5px;top:5px;color:#333;z-index: 6;background: #999;border-radius: 3px;display: none;}
.menu-list>div a{text-align: center;line-height: 60px;height: 60px;padding: 0 20px;cursor: pointer;display: block;border-radius: 2px;font-size: 20px;}
.menu-list>div a{color:#333;}
.menu-list>div a:hover{box-shadow:0 0 10px 0 #333 inset;color:#C4AE77;}
.menu-list .active a{box-shadow:0 0 10px 0 #333 inset;color:#C4AE77;}

/*----------goTop-----*/
.gototop a{display: block;width: 40px;height: 40px;border-radius: 5px;background: #ccc;color: #000;position: fixed;right:5px;bottom: 5px;line-height: 40px;text-align: center;font-size: 23px;transition: all 1s;z-index: 6;}
.gototop a:hover{text-shadow: 0 0 8px #000;}





/*------响应------*/
@media only screen and (max-width: 1200px), only screen and (max-device-width:1200px) {
    .project-cont1{min-height:715px;}
    .project-cont1 .cont-left,.cont-right{height:685px;}
}
@media only screen and (max-width: 1080px), only screen and (max-device-width:1080px) {
    html,body {
        font-size:16.875px;
    }

}
@media only screen and (max-width: 960px), only screen and (max-device-width:960px) {
    html,body {
        font-size:15px;
    }
    .project-cont1{min-height: 1000px;}
    .project-cont1 .cont-left,.cont-right{height:900px;}

}
@media only screen and (max-width: 800px), only screen and (max-device-width:800px) {
    html,body {
        font-size:12.5px;
    }
    .page2{left:170px;}
    .page3{right:170px;}
    .allPrize .backPage{height: 280px;top:45px;}
    .perExper .exp-text{height: 200px;}

}
@media only screen and (max-width: 720px), only screen and (max-device-width:720px) {
    html,body {
        font-size:11.25px;
    }
}
@media only screen and (max-width: 640px), only screen and (max-device-width:640px) {
    html,body {
        font-size:10px;
    }
    .banner-info{left:50%; margin-left:0;}
}
@media only screen and (max-width: 600px), only screen and (max-device-width:600px) {
    html,body {
        font-size:9.375px;
    }
}
@media only screen and (max-width: 540px), only screen and (max-device-width:540px) {
    html,body {
        font-size:8.4375px;
    }

}
@media only screen and (max-width: 480px), only screen and (max-device-width:480px) {
    html,body {
        font-size:7.5px;
    }
    .part1-left{min-height:600px;}
    .part1-right{min-height:600px;}
}
@media only screen and (max-width: 414px), only screen and (max-device-width:414px) {
    html,body {
        font-size:6.46875px;
    }
}
@media only screen and (max-width: 400px), only screen and (max-device-width:400px) {
    html,body {
        font-size:6.25px;
    }
    .part1-left{min-height:500px;}
    .part1-right{min-height:500px;}
}
@media only screen and (max-width: 375px), only screen and (max-device-width:375px) {
    html,body {
        font-size:5.859375px;
    }
}
@media only screen and (max-width: 360px), only screen and (max-device-width:360px) {
    html,body {
        font-size:5.625px;
    }
}
@media only screen and (max-width: 320px), only screen and (max-device-width:320px) {
    html,body {
        font-size:5px;
    }
}
@media only screen and (max-width: 240px), only screen and (max-device-width:240px) {
    html,body {
        font-size:3.75px;
    }
}